@using Microsoft.AspNetCore.Identity
@model IEnumerable<ComputerShoppingWebApp.Models.Seller>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Sellers</h1>
</div>

<h1>List</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <br />
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
        </tr>
}
    </tbody>
</table>
